version: '2.4'
services: 
  maskdino_ros2_v2: 
    image: fbe-dockerreg.rwu.de/prj-robocup/2026_robocup/perception/maskdino_ros2_v2
    container_name: maskdino_ros2_g
    runtime: nvidia
    #shm_size: '8gb'
    environment:
      ROS_DOMAIN_ID: $ROS_DOMAIN_ID
      DISPLAY: $DISPLAY
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,video,utility,graphics
      QT_X11_NO_MITSHM: '1'
    stdin_open: true
    restart: 'unless-stopped'
    privileged: true
    network_mode: host
    ipc: host
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $HOME/.Xauthority:/root/.Xauthority
      - ../maskdino_ros_pkg/:/root/ros2_ws/src/maskdino_ros_pkg
      - ../example_imgs:/imgs
      - ../outputs/:/outputs/
      - ../source/:/source/
    command: tail -f /dev/null
